<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">

    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="row">

    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Department Information</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="departmentForm" (ngSubmit)="add()">
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Name</label>
                    <input formControlName="id" type="hidden">
                    <input formControlName="name" type="text" id="input-first-name"
                      class="form-control form-control-alternative" placeholder="Name">
                  </div>
                </div>
              </div>

              <div *ngIf="submitted && departmentForm.invalid">
                <div *ngIf="departmentForm.controls.name.errors.required">Name is required</div>
              </div>

              <div class="row">
                <div class="text-center">
                  <button type="submit" class="btn btn-primary my-4">Submit</button>
                </div>
              </div>
            </div>

            <hr class="my-4" />
          </form>
        </div>
      </div>
    </div>

    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Existing Departments</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Sr No</th>
                <th scope="col">Name</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let dept of departments">
                <td>{{ dept.id }}</td>
                <td>{{ dept.name }}</td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" (click)="update(dept.id)">Update</a>
                      <a class="dropdown-item" (click)="delete(dept.id)">Delete</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>